<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head", {"css":["header", "home" , "footer" ]})%>

  <body>
    <%-include('./partials/header')%>
    <main>
      <div class="banner">Hero Banner</div>
      <br />
      <div class="productos">
        <h2>Listado De Productos</h2>
        <%for (let i=0; i < data.length; i++){%>
        <article>
          <div class="card">
            <p><%= data[i].nombre %></p>
            <img src="<%=data[i].imagen %>" alt="Imagen" />
            <div>
              <p><%= data[i].descripcion %></p>
              <p><%= data[i].precio %></p>
              <button type="button">Ver Producto</button>
            </div>
          </div>
        </article>
        <%}%>
      </div>
    </main>
    <%-include('./partials/footer')%>
  </body>
</html>
